body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  margin: 0px;
  display: grid;
  gap: 60px;
  justify-items: center;
}

.title {
  text-align: center;
  margin: 40px;
  padding: 20px;
}

.menu {
  /* Aula Flexbox*/
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu a {
  background-color: white;
  padding: 15px 30px;
  border-radius: 4px;
  text-transform: uppercase;
}

a {
  background-color: white;
  border: 0px solid;
  padding: 20px;
  margin: 0px;
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
  font-size: 20px;
}

h1 {
  text-align: right;
}

h2 {
  text-align: right;
  font-size: 60px;
  color: #c6c6c6;
}

h3 {
  margin: 0px;
}

p {
  font-size: 20px;
  line-height: 1.3;
}

img {
  max-width: 100%;
  display: block;
}

.grid {
  margin: 100px;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.apresentacao {
  padding: 40px;
  text-align: right;
  background-color: white;
  position: relative;
}

.vantagens {
  padding: 50px;
  align-self: center;
}

.especificacao {
  background-color: white;
  padding: 40px;
}

.item {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
}

.item p {
  grid-column: 2;
}

.VERMAIS {
  background-color: red;
  font-size: 16px;
  color: white;
}

.detalhe {
  width: 60px;
  height: 4px;
  background-color: red;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: -30px;
}

.rodape {
  background-color: white;
  width: 100%;
  text-align: center;
}
